*{
	/*Nav,Article und Aside sind mit dem Pading groesser als 100%
	Die drei Bereiche erscheinen daher nicht nebeneinander.
	Box-sizin: border-box.....alle Groessenangaben umfassen das gesamte Element(inkl.Pading,Margin,......)*/


box-sizing: border-box;
padding: 0;
margin: 0;
/*Zu lange Woerter ragen aus dem Conainer raus
Word-wrap:break-word.... teilt das wort auf 2 Zeilen auf.*/

word-wrap: break-word;

}



/*Design fuer das Smartphone*/

header,nav,article,aside{
	width: 100%;
}

	header{
background-color: goldenrod;
padding: 25px;

}
	nav{
background-color: powderblue;
padding: 25px;

}

	article{
background-color: crimson;
padding: 25px;

}

	aside{
background-color: fuchsia;
padding: 25px;

}

/* Design Tablet*/
@media(min-width: 600px){

	li{
		margin:20px ;
		display: inline;
		display: flex;
		justify-content: flex-start;
	}

article{
	float: left;
	width:60% ;

}
aside{
	float: left;
	width:40% ;

}

}
/*Design fuer den Desktop*/

@media(min-width: 768px){

		nav, aside{
	width: 25%;
	float: left;

	}

		article{
	width: 50%;
	float: left;

	}

		
	/*Bessere,Lesbarkeit,wenn nicht die gesamte Breite ausgenutz wird.
	Kuerzere Zeilen!*/

	#container{
		width: 70%;
	margin: auto;
	}
}
