@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&display=swap');


body{ 
	background-image: url(1.jpg);
  margin: 0px;


}





h1{
	text-align: center;	
    color: white;
    font-family: Open Sans;
}

h2{

	text-align: center;
    color: white;
    font-family: Open Sans;
}

main{

	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	gap:30px ;
}







main a{
	width: 300px;
	height: 300px;
	border:5px double darkred ;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: center;
	color: black;
	text-decoration: none;
	font-family: Lato;

}

main a p{
	padding: 30px;
	background-color:rgb(111, 111, 111,0.7);
	border-radius:15px ;




}


footer{
	height: 400px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-image: url(3.jpg);
	background-position: center;
	background-size: cover;
 	font-family: Lato;
	font-size: 20px;


}

footer p{
background-color: rgb(255, 255, 255,0.7);
padding: 10px;
border-radius: 15px;
font-size: 40px;
}
footer p:hover{
color: red;


}


